/* Write some CSS below */

/* selecteur (balise, la valeur de ma class ...){
  propriété: valeur;
} */
body{
  margin: 0px;
  background-color: #f4f4f4;
}

h1{
  color: #F0C4EE;
}
h1.red {
  color: white;
  font-size: 60px;
  font-style: italic;
  font-weight: bolder; /* light */
  text-decoration: underline;
}

.banner{
  background-image: url('images/background.jpg');
  padding: 200px;
  background-size: cover;
}

.banner > *{
  color: white;
  text-decoration: none;
  text-align: center;
}

.banner > h2{
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  margin: 0px;
}

.banner > a{
  padding: 20px;
  color: white;
  background-color: blue;
  border: 2px solid red;
  border-radius: 8px;
  font-size: 16px;
}
.banner > a:hover{
  padding: 20px;
  color: white;
  background-color: red;
  border: 2px solid blue;
  border-radius: 8px;
  font-size: 16px;
}

.card{
  background-color: white;
  width: 300px;
  padding: 20px;
}
.card img{
  width: 100%;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}